<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Login | DI Lab
        link(rel="stylesheet", type="text/css" href="/css/article/index.css")

    body
        header.middle
        section.nec.middle
            a(href="/")
                div.nec-logo
                    img(src="/images/DILAB.svg", alt="DI")

        section.body.middle
            div#main-box
                div.login-point.row1.col1(number="1")
                div.login-point.row1.col2(number="2")
                div.login-point.row1.col3(number="3")
                div.login-point.row2.col1(number="4")
                div.login-point.row2.col2(number="5")
                div.login-point.row2.col3(number="6")
                div.login-point.row3.col1(number="7")
                div.login-point.row3.col2(number="8")
                div.login-point.row3.col3(number="9")

        section.leg.middle

        include common/script-utils.pug
        script(src="/script/login.js")
