<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} | zxod说</title>
    <link rel="stylesheet" type="text/css" href="/css/article/article.css">
</head>
<body data-id="{{ _id }}" data-fileName="{{ file_name }}">
    <button type="button" class="floor-icon to-top"><img src="/icon/up-arrow.svg"></button>
    <header class="middle"></header>
     <section class="nec middle">
        <a href="/">
            <div class="nec-logo">
                <img src="/images/DILAB.svg" alt="DI">
            </div>
        </a>
    </section> 
    <section class="body middle">
        <div class="article-header add-padding">
            <h1 class="article-title">
                <!-- <a class="article-back-btn" href="/"><img src="/icon/back.svg" alt="Back to home"></a> -->
                {{ title }}</h1>
            <p class="article-time">{{ created_time }}</p>
        </div>
        <hr class="dividing"></hr>
        <div class="article-area add-padding">
            {{ content }}
        </div>
        <hr class="dividing"></hr>    
        
    </section>
    
    <section class="leg middle">
        
    </section>
    <footer class="middle">
        
    </footer>






    <!-- <h1>{{ title }}</h1>
    <small>{{ author }}</small><small>{{ created_time }}</small><small>{{ updated_time }}</small>
    <p>{{ description }}</p>
    {% for keyword in keywords %}
    <span>{{ keyword }}</span>
    {% endfor %}
    <p></p> -->
</body>
<script src="/script/article.js">
</script>
</html>