<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>写文章 | zxod说</title>
    <link rel="stylesheet" type="text/css" href="/css/article/article.css">
</head>
<body>
    <header class="middle"></header>
     <section class="nec middle">
        <a href="/">
            <div class="nec-logo">
                <img src="/images/DILAB.svg" alt="DI">
            </div>
        </a>
    </section> 
    <section class="body middle">
        <div class="article-header add-padding">
            <h1 class="article-title">
                <!-- <a class="article-back-btn" href="/"><img src="/icon/back.svg" alt="Back to home"></a> -->
                写下一些东西</h1>
            <p class="article-time">随心所欲</p>
        </div>
        <hr class="dividing"></hr>
        <div class="write-area add-padding">
             <!-- <form action="/api/v1/article" method="post">  -->
                <label class="form-control">文件名/路由名 (不填写会自动生成字符串)
                    <input type="" name="file_name" value="">
                </label>
                <label class="form-control">文章标题 <span style="color: red">*</span>
                    <input type="" name="title" value="">
                </label>
                <label class="form-control">文章作者 (默认：铜方块)
                    <input type="" name="author" value="">
                </label>
                <label class="form-control">关键字/标签
                    <input type="" name="keywords" value="">
                </label>
                <label class="form-control">简介 (默认：无)
                    <input type="" name="description" value="">
                </label>
                <label class="form-control">内容 <span style="color: red">*</span>
                    <textarea name="content"></textarea>
                </label>
                <label class="form-control">生成时间 (默认： 当前时间)
                    <input type="" name="created_time" value="">
                </label>
                <label class="form-control">更改时间 (默认： 当前时间)
                    <input type="" name="updated_time" value="">
                </label>
                <button type="button">提交</button>
             <!-- </form>  -->
        </div>
        <hr class="dividing"></hr>    
        
    </section>
    
    <section class="leg middle">
        
    </section>
    <footer class="middle">
        
    </footer>
    
    
</body>
<script src="/script/write.js"></script>
</html>