<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>写文章 | zxod说</title>
</head>
<body>
    <form action="/api/article" method="post">
        <label for="">file name
            <input type="" name="file_name" value="">
        </label>
        <label for="">title
            <input type="" name="title" value="">
        </label>
        <label for="">author
            <input type="" name="author" value="">
        </label>
        <label for="">keywords
            <input type="" name="keywords" value="">
        </label>
        <label for="">description
            <input type="" name="description" value="">
        </label>
        <label for="">content
            <textarea name="content"></textarea>
        </label>
        <button type="submit">提交</button>
    </form>
    
</body>
</html>